<li class="list-group-item" data-id="{{scope.id}}">
    <span class="scope-id">{{scope.id}}</span>
    <button type="button" class="btn btn-danger btn-xs detach pull-right">
        <i class="fa fa-remove"></i> {{lang 'general.remove'}}
    </button>
</li>