<li class="list-group-item" data-id="{{role.id}}">
<span class="permission-name">{{#if role.display_name}}{{role.display_name}}{{else}}{{role.name}}{{/if}}</span>
    <button type="button" class="btn btn-danger btn-xs detach pull-right">
        <i class="fa fa-remove"></i>
    </button>
</li>