<li class="col-xs-6" data-id="{{permission.id}}">
    <span class="permission-name">{{permission.name}}</span>
    <button type="button" class="btn btn-danger btn-xs detach pull-right">
        <i class="fa fa-remove"></i>
    </button>
</li>